#fetch-data {
	width: 300px;
}

.input-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	margin-bottom: 1em;
}

.input-box label {
	margin: 0.5em 1em 0.5em 0;
}

#body-content {
	display: none;
}
