/*============ A GARDER ==============*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
        Change favorite color
        Default: hsl(230, 55%, 55%)
        Purple: hsl(245, 55%, 55%) - Blue: hsl(210, 55%, 55%)
        Pink: hsl(340, 55%, 55%) - Green: hsl(162, 55%, 55%)
        Orange: hsl(14, 55%, 55%)

        For more colors visit: https://colors.dopely.top/color-pedia
        -> Choose any color 
        -> Click on tab (Color Conversion)
        -> Copy the color mode (HSL)
  */
  --hue: 220;

  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 30%, 50%);
  --title-color-dark-mode: hsl(var(--hue), 30%, 95%);
  --text-color: hsl(var(--hue), 20%, 80%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --body-color: hsl(var(--hue), 40%, 84%);
  --body-color-dark-mode: hsl(var(--hue), 40%, 16%);
  --container-color: hsl(var(--hue), 40%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
  }
}
/*=============== REUSABLE CSS CLASSES ===============*/


.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

/*=============== CLASSIC ===============*/
html,
body {

  height: 100%;
  margin: 0;
  font-family: var(--body-font);
  color:var(--body-font);
}

html {
  scroll-behavior: smooth;
}

.body__div{
  position:relative;
  display:flex;
  flex-direction: column;
  height:100%;
}

/*=============== HEADER ===============*/
.header {
  text-align: center;
  width: 100%;
  top:0;
  left: 0;
  background-color: white;
  border-bottom:1px solid #ddd;
}
.title_container{
  position:relative;
}
.header h1{
  margin-left:24px;
  text-align: left;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

/*===============  MAIN  ===============*/
.main {
  flex:1;
  background-color: white;
  overflow-y: auto;
}

/*================ CREATE MAP =================*/
.create-regate-btn
/*===============  Login  ===============*/
.login-form{
  position:relative;
  justify-content:center;
  display:grid;

  /*grid-template-columns: 1fr auto 1fr;*/
  align-items:center;
}

.login-container{
  position:absolute;
  margin: 0 auto;
}

.login-main{
  position:relative;
  display:flex;
}

.login-content{
  flex-basis:50%;
}

/*===============  VIEW REGATE  ===============*/
.view-map-input-name{
  /* Taille et espacement */
  width: 200px;
  padding: 10px;
  margin: 5px;
  
  /* Bordure et coin arrondi */
  outline:none;
  border:none;
  border-radius: 50px;
  padding-left: 20px;
  /* Arrière-plan et couleur du texte */
  background-color: #ffffff;
  color: #333;
  
  /* Police et taille de la police */
  font-family: Arial, sans-serif;
  font-size: 16px;
  
  /* Ombre */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content:center;
  
}

.view-map-title-container{
  position:absolute;
  z-index:10;
  top:10%;
  left:0;
  right:0;
  justify-content:center;
  display:flex;
}

/*===============  CREATE REGATE  ===============*/

#map {
  z-index:0;
  height:100%;
  width: 100%;
}
#map-boat{
  color: rgb(23,107,239);
}
#map-cross{
  color: rgb(255,62,48);
}
#map-flag{
  color: rgb(247,181,41);
}
#map-buoy{
  color: rgb(23,156,82);
}

.map-icon-bar{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  justify-content:center;
  position:absolute;
  bottom:10%;
  left:0;
  right: 0;
  z-index:10;
  margin:30px;
  
}
.map-icon{
  justify-content:center;
  display: flex;
  position:relative;
}
.map-icon::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 50px; /* ajustez la taille selon vos besoins */
  height: 50px; /* ajustez la taille selon vos besoins */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* placez la forme en arrière des icônes */
}


.create-validation-btn{
  padding:10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: none;
  outline:none;
  border-radius:50px;
  width: 35px;
  height: 35px;

}
.map-input-name{
  /* Taille et espacement */
  width: 200px;
  padding: 10px;
  margin: 5px;
  
  /* Bordure et coin arrondi */
  outline:none;
  border:none;
  border-radius: 50px;
  padding-left: 20px;
  /* Arrière-plan et couleur du texte */
  background-color: #ffffff;
  color: #333;
  
  /* Police et taille de la police */
  font-family: Arial, sans-serif;
  font-size: 16px;
  
  /* Ombre */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  
  /* Curseur */
  cursor: pointer;
  
}

.map-title-container{
  position:absolute;
  z-index:10;
  top:10%;
  left:0;
  right:0;
  justify-content:center;
  display:flex;
}

/*===============  HOME  ===============*/
.home-main{
  overflow-y: auto;
  position:relative;
}
.regate-title {
  margin: 0% 5%;
  display:flex;
}  

.regate-title h2{
  margin:0;
  font-size: var(--h2-font-size);
} 
.regate-item {
  background-color: #e0e4e9;
  padding: 12px 10px;
  margin: 2.5% 5%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius:5px;
  height:5%;
  position:relative;
  display:flex;
}
.regate-itemG {
  width:30%;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.regate-itemD {
  width:70%;
  padding-left: 10px;
  position:relative;
  align-items: center;

}

.regate-item h2{
  white-space: nowrap;       /* Empêche le texte de revenir à la ligne */
  overflow: hidden;          /* Cache le contenu qui dépasse */
  text-overflow: ellipsis;   /* Ajoute des points de suspension (...) pour indiquer qu'il y a du contenu masqué */
  max-width: 90%;          /* Largeur maximale du conteneur où le texte sera tronqué */
  
  font-size: var(--h3-font-size);
}
.regate-item p{
  margin:0;
  font-size: var(--normal-font-size);
}

.image-user{
  background-color: white;
  width: 80%;
  height:auto;

  border-radius: 50%; /* Assurer que l'image à l'intérieur du cercle est également ronde */
}

/*============================= A SUPP ======================*/
/*
button{
  padding:10px 20px;
  cursor:pointer;
}
#json-editor{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

json-input{
width: 70%;
margin-right: 10px;
}
#json-viewer{
  white-space: pre-wrap;
  background-color: #fff;
  padding:20px;
  border: 1px solid #ddd;
}
*/
/*=============== ACCOUNT ==============*/
.account__container {
  margin-top:10px;
  text-align: left;
  margin-left:5px 0px;
  background-color: white;
  padding: 22px;
  border-radius: 5px;
}

.account__sub__container{
  display:flex;
  align-items:center;
  justify-content: space-around;

}

.account__button__edit{
  border: 1px solid #ccc;
  margin: 5px;
  background-color: white;
  width: 100%;
}
.account__other{
  background-color: white;
  border-radius: 5px;
}
.account__img {
  width: 64px;
  height: 64px;
  border: 4px solid #ccc;
  border-radius: 50%;
}

/*=============== FOOTER ===============*/

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ddd;
}

.footer__container {
  row-gap: 3rem;
  width:100%;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  list-style: none;
}
a {
  text-decoration: none;
}
.footer__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.footer__link:hover {
  color: grey;
}
