/*============ A GARDER ==============*/
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
        Change favorite color
        Default: hsl(230, 55%, 55%)
        Purple: hsl(245, 55%, 55%) - Blue: hsl(210, 55%, 55%)
        Pink: hsl(340, 55%, 55%) - Green: hsl(162, 55%, 55%)
        Orange: hsl(14, 55%, 55%)

        For more colors visit: https://colors.dopely.top/color-pedia
        -> Choose any color 
        -> Click on tab (Color Conversion)
        -> Copy the color mode (HSL)
  */
  --hue: 220;

  --first-color: hsl(var(--hue), 55%, 55%);
  --first-color-light: hsl(var(--hue), 55%, 65%);
  --first-color-alt: hsl(var(--hue), 50%, 50%);
  --title-color: hsl(var(--hue), 30%, 50%);
  --title-color-dark-mode: hsl(var(--hue), 30%, 95%);
  --text-color: hsl(var(--hue), 20%, 80%);
  --text-color-light: hsl(var(--hue), 20%, 70%);
  --body-color: hsl(var(--hue), 40%, 84%);
  --body-color-dark-mode: hsl(var(--hue), 40%, 16%);
  --container-color: hsl(var(--hue), 40%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.5rem;
    --big-font-size: 2.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
  }
}
/*=============== REUSABLE CSS CLASSES ===============*/


.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

/*=============== CLASSIC ===============*/
html,
body {
  height: 100%;
  margin: 0;
  padding:0;
  font-family: var(--body-font);
  color:var(--body-font);
}


html {
  scroll-behavior: smooth;
}

/*=============== HEADER ===============*/



.header {
  text-align: center;
  width: 100%;
  top:0;
  left: 0;
  background-color: transparent;
  border-bottom:1px solid #ddd;
}
.title_container{
  position:relative;
  top:50%;
}
.header h1{
  margin-left:24px;
  text-align: left;
  font-family: var(--body-font);
  font-weight: var(--font-bold);
  font-size: var(--normal-font-size);
  color: var(--title-color);
}

/*===============  MAIN  ===============*/
.main {
  height:85%;
  background-color: #e6e9f0;
  display:flex;
  flex-direction: column;
}
#map {
  
  height:100%;
  width: 100%;
}


/*===============  HOME  ===============*/
#json-editor{
  display:flex;
  justify-content:center;
  margin-bottom:20px;
}

json-input{
width: 70%;
margin-right: 10px;
}

button{
  padding:10px 20px;
  cursor:pointer;
}

#json-viewer{
  white-space: pre-wrap;
  background-color: #fff;
  padding:20px;
  border: 1px solid #ddd;
}

/*=============== ACCOUNT ==============*/
.account__container {
  margin-top:10px;
  text-align: left;
  margin-left:5px 0px;
  background-color: white;
  padding: 22px;
  border-radius: 5px;
}

.account__sub__container{
  display:flex;
  align-items:center;
  justify-content: space-around;

}

.account__button__edit{
  border: 1px solid #ccc;
  margin: 5px;
  background-color: white;
  width: 100%;
}
.account__other{
  background-color: white;
  border-radius: 5px;
}
.account__img {
  width: 64px;
  height: 64px;
  border: 4px solid #ccc;
  border-radius: 50%;
}
/*=============== FOOTER ===============*/
.footer {
  text-align: center;
  width: 100%;
  bottom: 0;
  background-color: white;
  border-top: 1px solid #ddd;
  /*padding-top: 10px;*/
}

.footer__container {
  row-gap: 3rem;
  width:100%;
}

.footer__links {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  list-style: none;
}
a {
  text-decoration: none;
}
.footer__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.footer__link:hover {
  color: grey;
}
